
h1 {
  font-family: 'Merriweather Sans', sans-serif;
}
h2 {
  font-family: 'Merriweather Sans', sans-serif;
}
h3 {
  font-family: 'Merriweather Sans', sans-serif;
}
h4 {
  font-family: 'Merriweather Sans', sans-serif;
}
h5 {
  font-family: 'Merriweather Sans', sans-serif;
}
h6 {
  font-family: 'Merriweather Sans', sans-serif;
}
p {
  font-family: 'Baskervville', serif;
}

.normal-button {
border-radius: 15px;
padding: 15px;
background-color: #93BDFC;
}

.normal-button:hover {
  border-radius: 15px;
  padding: 15px;
  background-color: #7482FF;

}
.normal-button:focus {
  border-radius: 15px;
  padding: 15px;
  background-color: #D1B8E5;

}
