body {
  background-color: powderblue;
}
h1 {
  font-family: "Merriweather Sans";
}
h2 {
  font-family: "Merriweather Sans";
}
h3 {
  font-family: "Merriweather Sans";
}
h4 {
  font-family: "Merriweather Sans";
}
h5 {
  font-family: "Merriweather Sans";
}
h6 {
  font-family: "Merriweather Sans";
}
p {
  font-family: "Baskervville";
}

.normal-button {
border-radius: 40px;
padding: 15px;
background-color: #93BDFC;
}

.normal-button:hover {
  border-radius: 40px;
  padding: 15px;
  background-color: #7482FF;

}
.normal-button:onclick {
  border-radius: 40px;
  padding: 15px;
  background-color: #D1B8E5;

}
