
h1 {
  font-family: 'Merriweather Sans', sans-serif;
}
h2 {
  font-family: 'Merriweather Sans', sans-serif;
}
h3 {
  font-family: 'Merriweather Sans', sans-serif;
}
h4 {
  font-family: 'Merriweather Sans', sans-serif;
}
h5 {
  font-family: 'Merriweather Sans', sans-serif;
}
h6 {
  font-family: 'Merriweather Sans', sans-serif;
}
p {
  font-family: 'Baskervville', serif;
}
a:link {
  color: #93BDFC;
}

a:hover {
  color: #7482FF;
}

a:visited {
  color: #D1B8E5;
}

.normal-button {
border-radius: 5px;
  padding: 10px 40px;
background-color: #93BDFC;
  font-family: 'Baskervville', serif;
  font-size: 24px;
}

.normal-button:hover {
  border-radius: 5px;
  padding: 10px 40px;
  background-color: #7482FF;
    font-family: 'Baskervville', serif;
    font-size: 24px;

}
.normal-button:focus {
  border-radius: 5px;
  padding: 10px 40px;
  background-color: #D1B8E5;
    font-family: 'Baskervville', serif;
    font-size: 24px;

}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

hr {
  border-top: 1px solid #6A69A3;
}
